body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.container {
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
}

.video-container {
    margin: 20px 0;
}

.video-description {
    margin-bottom: 10px;
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the text horizontally */
    text-align: center; /* Center the text content */
    line-height: 1.5; /* Set line height to 1 for single spacing */
}

video {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.carousel-description{
    margin-bottom: 10px;
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the text horizontally */
    text-align: center; /* Center the text content */
    line-height: 1.5; /* Set line height to 1 for single spacing */
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    display: none; /* Hide all items by default */
}

.carousel-item.active {
    display: block; /* Show active item */
}

.carousel-item img {
    width: 100%;
    height: auto;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
    margin-left: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.return-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.return-button:hover {
    background-color: hwb(240 40% 60%);
}
